<%= form_with(model: @micropost, local: true) do |f| %>
  <%# ハッシュの:objectはrender先の引数名 f.objectにより@micropostの値を取得して:objectに代入する  %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>

  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg, image/gif, image/png" %>
  </span>
<% end %>

<%# front-end validation %>
<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 1) {
      alert("Maximum file size is 1MB. Please choose a smaller file.");
      $("#micropost_image").val("");
    }
  });
</script>
