<li id="micropost-<%= micropost.id %>">
  <%# belongs_to/has_manyの関係性 %>
  <%# micropost.user	Micropostに紐付いたUserオブジェクトを返す %>
  <%# user.microposts	Userのマイクロポストの集合をかえす %>
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%# image_tag helper (ActionView/Helpers/AssetTagHelper) returns an HTML image tag for rendering. %>
    <%= image_tag(micropost.image) if micropost.image.attached? %>
    <%#= ///display_image method NOT WORKING/// image_tag(micropost.display_image) if micropost.image.attached? %>
  </span>  
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to 'delete', micropost, method: :delete, data: { confirm: "Are you sure to delete this post?"} %>
    <% end %>
  </span>

</li>